#ClickXoaHinhAnh .list-images > .item{
	margin: 5px;
	cursor: pointer;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
}
#ClickXoaHinhAnh .list-images > .item.del{
	opacity: 0.6;
	position: relative;
}
#ClickXoaHinhAnh .list-images > .item.del:before,
#ClickXoaHinhAnh .list-images > .item.del:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #111;
	left: 0;
	top: 50%;
	z-index: 1;
	transform: rotate(45deg);
}
#ClickXoaHinhAnh .list-images > .item.del:after{
	transform: rotate(-45deg);
}
