.rankList {
    width: 100%;
    table-layout: fixed;
    margin-bottom: 50px;
}
.rankList thead tr {
    border-bottom: 1px solid #D8D8D8
}
.rankList thead th {
    font-size: 12px;
    line-height: 15px;
    padding: 0 10px 5px;
    color: #909090;
    font-weight: 700;
    text-transform: uppercase
}
@media only screen and (max-width: 767px) {
    .rankList thead th {
        padding: 5px
    }
}
.rankList thead_iconHeader {
    font-size: 14px;
    width: 14px;
    height: 14px
}
.rankList tbody tr {
    border-bottom: 1px solid #F0F0F0
}
.rankList tbody tr:nth-of-type(2n) {
    background: #FAFAFA
}
.rankList tbody tr.is-self {
    background: #ebf6fc
}
.rankList tbody tr.rankList_dotGapRow {
    background: #FFFFFF
}
.rankList tbody .icon-plus {
    margin-right: 5px;
    font-size: 12px
}
.rankList td {
    font-size: 16px;
    padding: 10px 10px;
    color: #4a4a4a
}
@media only screen and (max-width: 767px) {
    .rankList td {
        padding: 0 5px
    }
}
.rankList_rankCol {
    width: 50px
}
.rankList_completionCol {
    width: 150px
}
.rankList_btnCol {
    width: 140px
}
.rankList_rank_growth {
    float: left;
    text-align: center
}
.rankList_rank_growth .icon {
    font-size: 26px;
    line-height: 36px;
    width: 20px
}
.rankList_user_thumb {
    display: block;
    float: left;
    width: 36px;
    height: 36px;
    margin-right: 10px
}
.rankList_user_thumb img {
    width: inherit;
    height: inherit;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden
}
.rankList_user_name {
    color: #4a4a4a;
    line-height: 36px
}
.rankList_title {
    width: 25em;
}
.rankList_dotGap {
    width: 5px;
    height: 5px;
    background: #dedede;
    border-radius: 50%;
    margin: 0 auto 15px
}
.rankList_dotGap:last-of-type {
    margin-bottom: 0
}
.rankList_progress_val {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    margin: 10px 0 5px
}
.rankList_progress_val-small {
    font-size: 12px;
    line-height: 12px;
    margin: 10px 0 3px
}
.rankList_progress_meter {
    height: 5px;
    background: #EAEAEA
}
.rankList_progress_meter_fill {
    border-top: 5px solid;
    padding-left: 1px
}
.rankList_btnFollow {
    width: 140px;
    display: block
}
.rankList .rankList_bloom_level {
    text-align: center;
}
.rankList .iconCross {
    width: 24px;
    height: 24px;
    background-image: url("../images/landing/icons/icon_cross.png");
    background-repeat: no-repeat;
    background-size: 24px 24px
}
.rankList .iconTick {
    width: 24px;
    height: 24px;
    background-image: url("../images/landing/icons/icon_tick.png");
    background-repeat: no-repeat;
    background-size: 24px 24px
}


@-webkit-keyframes loadingDots-d1 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #6d6d6d
    }
    52% {
        background-color: #dedede
    }
    78% {
        background-color: #dedede
    }
    to {
        background-color: #dedede
    }
}
@-moz-keyframes loadingDots-d1 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #6d6d6d
    }
    52% {
        background-color: #dedede
    }
    78% {
        background-color: #dedede
    }
    to {
        background-color: #dedede
    }
}
@keyframes loadingDots-d1 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #6d6d6d
    }
    52% {
        background-color: #dedede
    }
    78% {
        background-color: #dedede
    }
    to {
        background-color: #dedede
    }
}
@-webkit-keyframes loadingDots-d2 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #dedede
    }
    52% {
        background-color: #6d6d6d
    }
    78% {
        background-color: #dedede
    }
    to {
        background-color: #dedede
    }
}
@-moz-keyframes loadingDots-d2 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #dedede
    }
    52% {
        background-color: #6d6d6d
    }
    78% {
        background-color: #dedede
    }
    to {
        background-color: #dedede
    }
}
@keyframes loadingDots-d2 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #dedede
    }
    52% {
        background-color: #6d6d6d
    }
    78% {
        background-color: #dedede
    }
    to {
        background-color: #dedede
    }
}
@-webkit-keyframes loadingDots-d3 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #dedede
    }
    52% {
        background-color: #dedede
    }
    78% {
        background-color: #6d6d6d
    }
    to {
        background-color: #dedede
    }
}
@-moz-keyframes loadingDots-d3 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #dedede
    }
    52% {
        background-color: #dedede
    }
    78% {
        background-color: #6d6d6d
    }
    to {
        background-color: #dedede
    }
}
@keyframes loadingDots-d3 {
    from {
        background-color: #dedede
    }
    26% {
        background-color: #dedede
    }
    52% {
        background-color: #dedede
    }
    78% {
        background-color: #6d6d6d
    }
    to {
        background-color: #dedede
    }
}
.loadingDots {
    position: relative;
    overflow: hidden
}
.loadingDots_dot {
    display: block;
    float: left;
    background-color: #dedede;
    border-radius: 50%
}
.loadingDots_dot:last-of-type {
    margin-right: 0 !important
}
.loadingDots_dot-d1 {
    -webkit-animation: loadingDots-d1 2s infinite;
    -moz-animation: loadingDots-d1 2s infinite;
    animation: loadingDots-d1 2s infinite
}
.loadingDots_dot-d2 {
    -webkit-animation: loadingDots-d2 2s infinite;
    -moz-animation: loadingDots-d2 2s infinite;
    animation: loadingDots-d2 2s infinite
}
.loadingDots_dot-d3 {
    -webkit-animation: loadingDots-d3 2s infinite;
    -moz-animation: loadingDots-d3 2s infinite;
    animation: loadingDots-d3 2s infinite
}
.loadingDots-h40 {
    width: 150px;
    height: 40px
}
.loadingDots-h40 .loadingDots_dot {
    width: 40px;
    height: 40px;
    margin-right: 15px
}
.loadingDots-h25 {
    width: 95px;
    height: 25px
}
.loadingDots-h25 .loadingDots_dot {
    width: 25px;
    height: 25px;
    margin-right: 10px
}
.loadingDots-h15 {
    width: 60px;
    height: 15px
}
.loadingDots-h15 .loadingDots_dot {
    width: 15px;
    height: 15px;
    margin-right: 7px
}
.loadingDots-h10 {
    width: 40px;
    height: 10px
}
.loadingDots-h10 .loadingDots_dot {
    width: 10px;
    height: 10px;
    margin-right: 5px
}
.loadingDots-h7 {
    width: 30px;
    height: 7px
}
.loadingDots-h7 .loadingDots_dot {
    width: 7px;
    height: 7px;
    margin-right: 4px
}
.loadingDots-h4 {
    width: 20px;
    height: 4px
}
.loadingDots-h4 .loadingDots_dot {
    width: 4px;
    height: 4px;
    margin-right: 4px
}

.heading-bordered {
    border-bottom: 3px solid #000;
    padding-bottom: 10px
}

.heading-bordered .h3 {
    font-size: 20px;
    line-height: 40px
}