/bootstrap/compiled.php
/vendor
app/config/*
public/thukhoa
public/upload
public/upload/*
public/ckfinder
public/ckfinder/*
app/storage/cache/*
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
info.php