/bootstrap/compiled.php
/vendor
/app/config/*
/app/config/database.php
/public/thukhoa
/public/upload
/public/upload/*
/public/ckfinder
/public/ckfinder/*
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
info.php