@-webkit-keyframes ship-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(500px, 0px, 0px);
        -o-transform: translate3d(500px, 0px, 0px);
        -webkit-transform: translate3d(500px, 0px, 0px);
        -ms-transform: translate(500px, 0px);
        transform: translate3d(500px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-moz-keyframes ship-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(500px, 0px, 0px);
        -o-transform: translate3d(500px, 0px, 0px);
        -webkit-transform: translate3d(500px, 0px, 0px);
        -ms-transform: translate(500px, 0px);
        transform: translate3d(500px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-ms-keyframes ship-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(500px, 0px, 0px);
        -o-transform: translate3d(500px, 0px, 0px);
        -webkit-transform: translate3d(500px, 0px, 0px);
        -ms-transform: translate(500px, 0px);
        transform: translate3d(500px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@keyframes ship-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(500px, 0px, 0px);
        -o-transform: translate3d(500px, 0px, 0px);
        -webkit-transform: translate3d(500px, 0px, 0px);
        -ms-transform: translate(500px, 0px);
        transform: translate3d(500px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-webkit-keyframes balloon-motion-1 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -65px, 0px);
        -o-transform: translate3d(0px, -65px, 0px);
        -webkit-transform: translate3d(0px, -65px, 0px);
        -ms-transform: translate(0px, -65px);
        transform: translate3d(0px, -65px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-moz-keyframes balloon-motion-1 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -65px, 0px);
        -o-transform: translate3d(0px, -65px, 0px);
        -webkit-transform: translate3d(0px, -65px, 0px);
        -ms-transform: translate(0px, -65px);
        transform: translate3d(0px, -65px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-ms-keyframes balloon-motion-1 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -65px, 0px);
        -o-transform: translate3d(0px, -65px, 0px);
        -webkit-transform: translate3d(0px, -65px, 0px);
        -ms-transform: translate(0px, -65px);
        transform: translate3d(0px, -65px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@keyframes balloon-motion-1 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -65px, 0px);
        -o-transform: translate3d(0px, -65px, 0px);
        -webkit-transform: translate3d(0px, -65px, 0px);
        -ms-transform: translate(0px, -65px);
        transform: translate3d(0px, -65px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-webkit-keyframes balloon-motion-2 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -35px, 0px);
        -o-transform: translate3d(0px, -35px, 0px);
        -webkit-transform: translate3d(0px, -35px, 0px);
        -ms-transform: translate(0px, -35px);
        transform: translate3d(0px, -35px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-moz-keyframes balloon-motion-2 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -35px, 0px);
        -o-transform: translate3d(0px, -35px, 0px);
        -webkit-transform: translate3d(0px, -35px, 0px);
        -ms-transform: translate(0px, -35px);
        transform: translate3d(0px, -35px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-ms-keyframes balloon-motion-2 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -35px, 0px);
        -o-transform: translate3d(0px, -35px, 0px);
        -webkit-transform: translate3d(0px, -35px, 0px);
        -ms-transform: translate(0px, -35px);
        transform: translate3d(0px, -35px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@keyframes balloon-motion-2 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -35px, 0px);
        -o-transform: translate3d(0px, -35px, 0px);
        -webkit-transform: translate3d(0px, -35px, 0px);
        -ms-transform: translate(0px, -35px);
        transform: translate3d(0px, -35px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-webkit-keyframes balloon-motion-3 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -25px, 0px);
        -o-transform: translate3d(0px, -25px, 0px);
        -webkit-transform: translate3d(0px, -25px, 0px);
        -ms-transform: translate(0px, -25px);
        transform: translate3d(0px, -25px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-moz-keyframes balloon-motion-3 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -25px, 0px);
        -o-transform: translate3d(0px, -25px, 0px);
        -webkit-transform: translate3d(0px, -25px, 0px);
        -ms-transform: translate(0px, -25px);
        transform: translate3d(0px, -25px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-ms-keyframes balloon-motion-3 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -25px, 0px);
        -o-transform: translate3d(0px, -25px, 0px);
        -webkit-transform: translate3d(0px, -25px, 0px);
        -ms-transform: translate(0px, -25px);
        transform: translate3d(0px, -25px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@keyframes balloon-motion-3 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -25px, 0px);
        -o-transform: translate3d(0px, -25px, 0px);
        -webkit-transform: translate3d(0px, -25px, 0px);
        -ms-transform: translate(0px, -25px);
        transform: translate3d(0px, -25px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-webkit-keyframes balloon-motion-4 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -200px, 0px);
        -o-transform: translate3d(0px, -200px, 0px);
        -webkit-transform: translate3d(0px, -200px, 0px);
        -ms-transform: translate(0px, -200px);
        transform: translate3d(0px, -200px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-moz-keyframes balloon-motion-4 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -200px, 0px);
        -o-transform: translate3d(0px, -200px, 0px);
        -webkit-transform: translate3d(0px, -200px, 0px);
        -ms-transform: translate(0px, -200px);
        transform: translate3d(0px, -200px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-ms-keyframes balloon-motion-4 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -200px, 0px);
        -o-transform: translate3d(0px, -200px, 0px);
        -webkit-transform: translate3d(0px, -200px, 0px);
        -ms-transform: translate(0px, -200px);
        transform: translate3d(0px, -200px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@keyframes balloon-motion-4 {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(0px, -200px, 0px);
        -o-transform: translate3d(0px, -200px, 0px);
        -webkit-transform: translate3d(0px, -200px, 0px);
        -ms-transform: translate(0px, -200px);
        transform: translate3d(0px, -200px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-webkit-keyframes cloud-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(100px, 0px, 0px);
        -o-transform: translate3d(100px, 0px, 0px);
        -webkit-transform: translate3d(100px, 0px, 0px);
        -ms-transform: translate(100px, 0px);
        transform: translate3d(100px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-moz-keyframes cloud-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(100px, 0px, 0px);
        -o-transform: translate3d(100px, 0px, 0px);
        -webkit-transform: translate3d(100px, 0px, 0px);
        -ms-transform: translate(100px, 0px);
        transform: translate3d(100px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@-ms-keyframes cloud-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(100px, 0px, 0px);
        -o-transform: translate3d(100px, 0px, 0px);
        -webkit-transform: translate3d(100px, 0px, 0px);
        -ms-transform: translate(100px, 0px);
        transform: translate3d(100px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}

@keyframes cloud-motion {
    0% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }

    50% {
        -moz-transform: translate3d(100px, 0px, 0px);
        -o-transform: translate3d(100px, 0px, 0px);
        -webkit-transform: translate3d(100px, 0px, 0px);
        -ms-transform: translate(100px, 0px);
        transform: translate3d(100px, 0px, 0px)
    }

    100% {
        -moz-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px)
    }
}
