@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=vietnamese');

header.header .banner .caption-wrap a.button{
    margin: auto;
    display: block;
    margin-top: 45px;
}
.header{
	min-height: 56px;
}
 header.home .fixed-nav{
    padding: 0px;
}
header.home .fixed-nav .navbar-brand img{
    margin: 12px 0 0 0;
}

header.header .member-area{
	padding: 10px 0 0 0;
}
.header .member-area .box-info{
    padding: 5px 15px 0 25px;
    margin: 5px;
}
.header .member-area .box-info .avatar{
    margin: -15px -50px 0 0;
}
.header .member-area a.dang-ky, .header .member-area a.dang-nhap{
	background: #0ac2fd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-transform: none;
    border: 1px solid #fff;
    font-size: 18px;
    width: 125px;
    text-align: center;
    height: 37px;
    padding:0 15px;
    margin :0 0 0 15px;
    line-height: 37px;
}
 .header .member-area a:hove{
 	background-color: #0bc3fc;
}
header.header .banner .caption-wrap h1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}
.header .member-area .box-info .avatar{
     margin-right: -45px;
    margin-top: -15px;   
}
.header .member-area .box-info{
    margin: 5px 0 3px 15px;
}
/*// end header*/
.box-bai-lam, .main-content{
	margin-top: 30px;
}
 #main-menu-mathplay li.dropdown a.dropdown-toggle{
    color: #fff;
    
    background-color:#0ac2fd;
}
 #main-menu-mathplay .dropdown-menu{
    color: #fff;
    background: #0ac2fd;
    position: absolute;
    text-align: center;
    min-width: 150px;
    top: auto;
    left: auto;
    right: 0;

}
 #main-menu-mathplay ul.dropdown-menu a{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
 #main-menu-mathplay ul.dropdown-menu a:hove{
    background-color:#0ac2fd;
    color: #fff;
}
 #main-menu-mathplay ul.nav li a{
    background-color:#0ac2fd; 
    margin-top:5px; 
}
#main-menu-mathplay ul.nav li a:hover {
    color: #75fffd;
    background: #0ac2fd;
}
#main-menu-mathplay .navbar-nav .text span{
    color: #000;
}
.fixed-nav ul.nav>li.open.dropdown> a:hover,
.fixed-nav ul.nav>li.open.dropdown> a:focus,
.fixed-nav ul.nav>li.open.dropdown> a,
.fixed-nav ul.nav li a:hover{
    color: #75fffd;
    background: #0ac2fd;
}
/*************/
.question-rendered .start{
display: inline-block;
    width: 100%;
    font-size: 22px;
    color: #fff;
    background: #52c9f3;
    padding: 5px 0;
    margin-bottom: 15px;
    text-transform: none;
    -webkit-text-stroke: #fff 0px;
    text-shadow:none;

}
.list-chapter .chapter-item ul.nav li a i{
    background: #999;
    border-radius: 100%;
    padding: 1px;
    width: 20px;
    text-align: center;
    font-size: 18px;
    float: right;
    color: #ddd ;
    position: absolute;
    right: 5px;
    top: 5px;
}
.list-chapter .chapter-item ul.nav li a i.yellow-color{
    color: #ffde00 !important;
}
