.padding0{
	padding: 0 !important;
}
.margin0{
	margin: 0 !important;
}
.clear{
	clear: both !important;
}
.ban-phim .gui-bai{
    margin: 0;
    padding: 15px 12px;
    float: left;
    line-height: 23px;
    width: auto;
    background: #ffca18;
    border-radius: 15px;
    border: 1px solid #999;
}
.ban-phim.clicked {
    bottom: -140px;
}
.ban-phim .text-show{
    font-size: 15px;
}
body>.loading{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.05);
}
body>.loading>span{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 350px;
    min-height: 50px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #999;
    background: white;
    line-height: 30px;
    font-size: 16px;
    padding: 10px;
    margin-left: -175px;
    margin-top: -40px;
    z-index: 9;
}
body>.loading::before{
	content: "";
	
}
body>.loading>span::after{
	content: "";
    content: "";
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    white-space: pre-line;
    border-radius: 100%;
    margin-top: 10px;
	border: 3px solid rgba(22, 180, 177, 0.3);
	border-bottom: 4px solid #16b4b1;
	border-left: 4px solid #16b4b1;
    -webkit-animation: rotate 1s infinite linear;
    -o-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
    margin: 0 10%;
}

@keyframes rotate {
    0% {
    	transform: rotate(0deg);
	}
	100%{
    	transform: rotate(359deg);
	}
}