/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
   
}

/*max-width: 1024px (máy tính bảng loại to, hiển thị chiều ngang)*/
@media screen and (max-width: 1024px){

    footer .des{
        background: url(../images/bg-footer.png) no-repeat top left/100% 170px;
        padding: 15px 30px;
    }
}

/*max-width: 768px (máy tính bảng loại to, hiển thị chiều dọc)*/
@media screen and (min-width: 768px) and (max-width: 1366px){
    #NhanDienCacHinh .check-multi label,
    #NhanDienCacHinh .check-multi label svg{
        max-width: 100%;
        height: auto;
    }
    .lession-page .lession-keyboard .item,
    .lession-page .lession-keyboard .item.delete{
        min-width: auto;
    }
    .header .member-area .box-info .btn-group>button.btn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
    }
}
@media screen and (max-width: 768px){
    .sidebar-right .content-rating .item .person .info{
        width: calc(100% - 15px);
        padding-left: 10px;
    }
    .list-chapter .chapter-item h2.title-sub>span.head{
        font-size: 18px;
    }
    .list-chapter .chapter-item h2.title-sub>span.name{
        min-width: 65%;
        padding: 0 15px 0 0; 
    }
    .list-chapter-page footer .des{
        background: url(../images/bg-footer.png) no-repeat center left/100% 170px;
        font-weight: 600;
        padding: 15px 30px;
    }

}
@media screen and (max-width: 767px){
    #main-menu-mathplay .navbar-nav{
        width: 100%;
        text-align: right;
        margin: 0;
    }
    #main-menu-mathplay .navbar-nav> li{
        display: inline-block;
    }
    .header .member-area a.dang-ky, .header .member-area a.dang-nhap{
        margin-left: 0;
    }
    #main-menu-mathplay li.dropdown a.dropdown-toggle{
        margin: -2px 0px 0px -15px;
        font-size: 30px;
    }
   .hinhs img {
        margin-left: 0;
        width: auto;
    }
    #main-menu-mathplay  #menu{
        text-align: center;
        position: absolute;
        right: 0px;
        left: -8px;
    }
    
    .box-chuong-trinh.box-dang-ky .boxs-right .chuong-trinh .des{
        margin-right: 35px;
    }
    /*********** css lesson dem so trong khung so 10*/
    #DemSoTrongKhung10 .question-wrapper .choose td label{
        width: 50px  !important;
        height: 50px  !important;
    }
    #DemSoTrongKhung10 td{
        width: 30px;
        height: 30px;
    }
    #DemSoTrongKhung10 .shape-none{
        width: 30px;
        height: 30px;
    }
    #DemSoTrongKhung10 td > div{
        width: 30px !important;
        height: 30px !important;
        display: inline-block !important;
    }
    /***** dem sotung khung*/
    .list-chapter-page .content-left .head-list .next-lession .next-box>span{
        font-size: 18px;
        width: 100%;
    }
    .list-chapter-page .content-left .head-list .next-lession{
        padding-right: 25px;
        margin-top: 15px;
    }
    .list-chapter-page .content-left .head-list h3.hello{
        font-size: 13px;
        height: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    chapter-page .content-left .head-list .next-lession .next-box>span{
        font-size: 16px;
    }
    .header .member-area .box-info .btn-group>button.btn{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
    }
    .list-chapter-page .content-left .head-list .info .text .star{
        line-height: 50px;
        font-size: 50px;
    }
    .list-chapter-page .list-chapter{
        padding-right: 0;
        padding-left: 0;
    }
    header .member-area .box-info .btn-group>button.btn{
        white-space: nowrap;
        overflow: hidden;
        font-size: 10px;
        text-overflow: ellipsis;
    }
        /*bai toan cai can mobile*/
    div.canvas-container{
        right: 50px;
        position: relative;
    } /*// fotter*/
    .user-profile-form .box-footer input.btn{
        margin: 5px 15px;
    }
    .list-chapter-page footer .des
    ,.footer .des {
        background: url(../images/bg-footer.png) no-repeat top left/100% 245px;
        font-weight: 700;
        padding: 15px 40px;
        font-size: 13px;
        text-align: center;
        width: 100%;
    }
    .btn-support{
        top:-200px;
    }
    .list-chapter-page footer .copy-right .content,
    footer .copy-right .content
    {
        background: none;
        margin-top: 45px;
        min-width: 102%;
        text-align: center;
    }
     .list-chapter-page footer .copy-right .social,
      footer .copy-right .social{
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }
    .list-chapter-page footer{
        padding-top: 0;
    }
   
}

/*max-width: 800px (máy tính bảng, hiển thị chiều ngang)*/
@media only screen and (max-width: 800px) {
    
}
/*max-width: 600px (máy tính bảng, hiển thị chiều dọc)*/
@media only screen and (max-width: 600px) {
}

/*// man hinh dt hien thi chieu ngang*/
@media only screen and (max-width: 480px) {
}

/*// man hinh dt hien thi chieu doc*/
@media only screen and (max-width: 360px) {
}

