* {
 box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
}
@font-face {
    font-family: UTM;
    src: url('../fonts/UTM BRYANTLG.TTF');
}
body{
	font-family: UTM,Helvetica,Arial,sans-serif;
	font-size: 16px;
 	line-height: 1.254em;
 	margin: 0;
 	padding: 0;
}
.padding0{
    padding: 0;
}
.margin0{
    margin: 0;
}
.nav{
    text-align: center;
}
 h2.text_name{
    font-family: "museo-sans-n5", "museo-sans";
    font-weight: 500;
    color: #464a4d;
    margin: 0 60px;
    text-align: center;
    font-size: 37px;
    line-height: 42px;
    padding: 36px 0;
}
h4{
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 2px;
}
.nav .content_top{
    padding: 40px 0 20px 0;
} /*end nav*/


/*end *** next_topleft*/
/*******/
.grey-bg{
	background: #f8f9f9;
}
.section_center .img_tivi{
    padding-bottom: 20px;
}
 /*end section*/
.content_center img{
 margin-top: 25px;
}

 .email, .iphone, .laptop{
    text-align: center;
 }
 .content_bt .email{
    padding-top: 80px;
 }
 .content_bt .iphone{
    padding-top: 20px;
 }
 .content_bt .aside_text{
    color: #505050;
    text-align: center;
    font-size: 19px;
    padding-top: 25px;
    font-weight: 900;
 }
 .iphone .big_device{
    padding-top: 40px;
 }
 .teacher{
 	background:#f8f9f9;
 }
 .teacher .item{
 	border: 10px solid #fff;
    background: #fff;
 }
 .teacher .item small{
 	font-size:10px;
 	color:#ddd;
 }
  .teacher .item img{
 	max-width: 100%;
 }
 /*end*/
 footer{
 	background-color: #323232;
	padding-top: 15px;
 }

 footer .one a{
 	color: #fff;
 }
 footer p a{
 	color: #525252;
 	font-size: 12px;
 }
 footer p a:hover{
 	color: #fff;
 }
 footer .bottom_fo{
 	text-align: center;
    font-size: 45px;
    background-color: #525252;
 }
 footer .bottom_fo i{
 	background-color: #fff;
 }
.footer_left span a{
	color: #252525;
	font-size: 10px;
}
.footer_left span a:hover{
	color: #fff;
}
.footer_right{
	padding-top: 20px;
}
.footer_right span {
	color: #252525;
	font-size: 10px;
}