#TongCacNhomHinh .circle{
    float: left;
    margin: 2px;
    width: 152px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #999;
    padding: 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
#TongCacNhomHinh .circle>.cont{
	width: 100%;
    text-align: center;
}
#TongCacNhomHinh .circle>.cont>span{
	margin: -5px;
}
div.huong-dan-giai .question-content{
    width: 100%;
}
#TongCacNhomHinh div.huong-dan-giai span.count{
    font-size: 25px;
    display: inline-block;
    width: 100%;
    font-weight: 700;
}
