#TinhTongDonGian .tong.doc .num1,
#TinhTongDonGian .tong.doc .num2{
    display: block;
    text-align: right;
    /*margin-right: 15px;*/
}
#TinhTongDonGian .tong.doc input{
	width: 20px;
    text-align: right;
    margin-right: -5px;
}
#TinhTongDonGian .tong input{
    margin-right: -5px;
	width: 20px;
}