#XemGioDongHo .clock{
	position: relative;
}
#XemGioDongHo .clock .center-point{
	position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border: 3px solid #ddd;
    background: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
}
#XemGioDongHo .clock .hour-line,
#XemGioDongHo .clock .min-line{
    width: 50px;
    height: 6px;
    background: #111;
    left: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    transform-origin: left;
    transition: all 2s ease;
}
#XemGioDongHo .clock .hour-line:before,
#XemGioDongHo .clock .min-line:before{
	content: "";
    border-left: 5px solid #111;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    position: absolute;
    right: -5px;
}
#XemGioDongHo .clock .min-line:before{
	border-left-width: 4px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    right: -4px;
}
#XemGioDongHo .clock .min-line{
	width: 60px;
	height: 4px;
}