#PhepTinhHieuDonGian .tong.doc .num1,
#PhepTinhHieuDonGian .tong.doc .num2{
    display: block;
    text-align: right;
}
#PhepTinhHieuDonGian .tong.doc .result{
	display: inline-block;
    border-top: 1px solid;
    padding-top: 5px;
}
#PhepTinhHieuDonGian .tong.doc input{
	width: 20px;
    margin-left: -5px;
}
#PhepTinhHieuDonGian .tong input{
	width: 20px;
    margin-left: -5px;
}