/*// css dang chia 2 hinh anh*/
#PhepChia2So .circle{
    float: left;
    margin: 2px;
    width: 152px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid #999;
    padding: 25px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
#PhepChia2So .circle>.cont{
	width: 100%;
    text-align: center;
}
#PhepChia2So .circle>.cont>span{
	margin: -5px;
}
div.huong-dan-giai .question-content{
    width: 100%;
}
#PhepChia2So div.huong-dan-giai span.count{
    font-size: 25px;
    display: inline-block;
    width: 100%;
    font-weight: 700;
}
/*// css hdg text trong bang chia*/
#PhepChia2So .huong-dan-giai .chia-2-so p.text_item{
    font-size: 18px;
    font-weight: 600;
}