#main_header{width:100%;margin:auto;height: 630px;position: relative;}
#main_group{width:100%;margin:auto;height: 630px;}
.content_call_us_now{width:100%;margin:auto;height:125px;position: relative;}
#content_research{width:100%;margin:auto;height: 629px;position: relative;}
#content_guide{width:100%;margin:auto;height:633px;position: relative;}
#content_register_form{width:100%;margin:auto;height:678px;position: relative;}
#content_design{width:100%;margin:auto;height:679px;position: relative;}
#box_content_course{width:100%;margin:auto;padding:80px 0px;float:left;}
.bs-navbar{width: 100%;margin:auto;}
#banner{background: url("img/bg_header.png") no-repeat center;margin:auto;}
#content{background: url("img/bg_group.png") no-repeat center;margin:auto;}
#research{background:url("img/bg_group_search.png") no-repeat center;margin:auto;}
#guide{background: url("img/bg_question.png") no-repeat center;margin:auto;}
#register_form{background: url("img/bg_form.png") no-repeat center;margin:auto;}
#design{background: url("img/relation.png") no-repeat center;margin:auto;}
#box_choose_course{background: #ccc;margin:auto;}
#call_us_now{padding:0px;margin:auto;}
.border_content{width: 1366px;background: #f8f8f8;margin:auto;}
.bg_content_footer{width:1366px;margin:auto;background:#fff url("img/bg_footer.png") no-repeat center;}
body{background:#ccc;}
@font-face {
    font-family:"Roboto";
    src: url("Roboto-Regular.ttf")
}
@font-face {
    font-family:"RobotoBlack";
    src: url("Roboto-Black.ttf")
}

@font-face {
    font-family:"RobotoBold";
    src: url("Roboto-Bold.ttf")
}

@font-face {
    font-family:"RobotoLight";
    src: url("Roboto-Light.ttf")
}

@font-face {
    font-family:"RobotoThin";
    src: url("Roboto-Thin.ttf")
}

@font-face {
    font-family:"RobotoMedium";
    src: url("Roboto-Medium.ttf")
}

@font-face {
    font-family:"Bebas";
    src: url("UTM-Bebas.ttf")
}

#middle_header_content{margin:auto;width:100%;padding-top:225px;}
#big_header_title{
    text-align: center;margin:auto;
}
#secret_word {
    color: #fff;
    font-family: RobotoThin;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 10px;
    text-align: center;
}
#single_button {
    cursor: pointer;
    bottom: 0;
    height: 105px;
    left: 41%;
    position: absolute;
    text-align: center;
    width: 205px;
}

.box_group_content{
    padding-top:210px;
    width:50%;color:#fff;float:right;
}
#fist_header_group,#second_header_group{font-size:30px;color:#fff;font-family: RobotoLight;}
#second_header_group span,#fist_header_group span{color:#fcff00;font-size:30px;}
#list_group_name {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-style: italic;
    padding-top: 40px;
}
#list_group_name span{color:#fcff00;}
.header_title_research{padding-top:240px;color:#03677c;font-size:45px;font-family:Roboto;}
.content_title_research{color:#ff0000;font-size:45px;font-family:Roboto;padding-left:100px;}
.footer_title_research{color:#03677c;font-size:45px;font-family:Roboto;padding-left:60px;}
.box_faqs{width:55%;float:right;padding-top:185px;font-family:Roboto;font-size:32px;color:#fff;}
.faqs_special{font-family:RobotoThin;font-weight:bold;font-size:32px;}
.box_faqs p span{color:#fffc00;font-size:35px;font-family:Roboto;}
.box_list_faqs{width:55%;float:right;color:#fff;font-size:16px;font-family:Roboto;padding-top:30px;}
#note_name_faqs {
    bottom: 10px;
    color: #fff;
    font-family: RobotoMedium;
    font-size: 14px;
    left: 250px;
    position: absolute;
}
#header_sub_course{width:100%;float:left;text-align: center;text-transform: uppercase;color:#004b8b;font-size:36px;font-family:Roboto;padding-bottom:50px;}
#box_list_course{width:100%;margin:auto;clear:both;float:left;}
.box_grid_course{width:374px;margin:auto;float:left;}
.padding_left_course{padding-left:80px;float:left;}
.padding_right_course{padding-right:80px;float:right;}
.padding_middle_course{float:left; padding: 0 30px 0 45px;}
.grid_course{width:100%;float:left;background:#fff;border:1px solid #ebebeb;box-shadow: 1px 2px 2px #ccc;-moz-box-shadow: 1px 2px 2px #ccc;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;-o-border-radius:8px;-o-box-shadow: 1px 2px 2px #ccc;}
.heading_title_course{width:100%;float:left;clear:both;text-align:center;padding-bottom:10px;padding-top:15px;}
.heading_title_course span{font-size:18px;font-family:RobotoBold;text-transform: uppercase;}
.color_math{color:#da063d; }
.color_eng{ color:#ff8400;}
.color_physic{color:#028c8e; }
.box_summary_course{padding:0px 20px;min-width: 99%;max-width: 100%;float:left;min-height:360px;}
.grid_item_course{padding-bottom:15px;width:100%;float:left;color:#004b8b;font-size:12px;font-family:Roboto;}
.left_item_course{width:8%;float:left;background: url("img/checkbox.png") no-repeat left center;)}
.right_item_course{width:92%;float:right;font-size:15px;color:#004b8b;font-family:Roboto;line-height:20px;}
.grid_price{
    font-family:RobotoBold;font-size:16px;text-align:center;float:left;width:100%;padding-top:5px;
}
.content_footer {
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    left: 315px;
    position: absolute;
    text-transform: uppercase;
    top: 30px;
}
.content_footer p{margin:0;}
.big_title_footer{font-size:24px;}
.contact_phone {
    border: 3px solid #fff;
    color: #fff;
    font-family: Roboto;
    font-size: 24px;border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
    padding: 8px 25px;text-transform: uppercase;
    position: absolute;
    right: -60px; cursor: pointer;
    top: 35px;
}

#list_article_name{
font-size:14px;font-family:Roboto;color:#fff;
}

.design_header{width:100%;float:left;padding-top:35px;font-family:Roboto;font-size:36px;color:#181818;text-align: center;}
.relation_design{width:100%;float:left;padding-top:45px;text-align:center;}
.box_grid_form{margin:auto;padding-top:100px;width:100%;}
.box_small_form{width:325px;min-height:440px;background:#fff;margin:auto;padding:20px;border-radius: 10px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
.box_present {
    float: left;
    height: 104px;
    left: 45.5%;
    position: absolute;
    top: 48px;color:#fff;font-family: RobotoBold;font-size:18px;
    background: url("img/orange.png") no-repeat center;z-index:333;
    width: 104px;
}
.content_title_register {
    padding-left: 13px;
    padding-top: 25px;
}
#frm_register_record{padding-top:45px;text-align: center;}
#frm_register_record label.title{font-size:18px;font-family:Roboto;margin-bottom:25px;}
#frm_register_record input,#frm_register_record select{float:left;margin:auto;width:250px;height:35px;line-height:35px;color:#000;text-indent: 10px;color:#000;border:1px solid #818181;border-radius:5px;-moz-border-radius: 5px;-webkit-border-radius: 5px;font-family: Roboto;font-size:14px;}
.form-group {
    margin-bottom: 25px;text-align:left;width:95%;padding-left:5%;float:left;clear:both;
}
#frm_register_record select{text-indent: 0px;color:#818181 !important;}
#frm_register_record #submit_register_frm{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;width:130px;height:35px;line-height:15px;text-transform:uppercase;color:#fff;background:#ef5b13;font-size:18px;font-family:Roboto;border:none;padding:10px 0px;}
span.error{font-size:11px;color:red;}

img{max-width:100% !important;}

@media print {

}

@media (min-width: 1200px) {


}

@media (min-width: 768px) and (max-width: 991px) {
    #secret_word{font-size:18px;}
    .box_group_content{width:55%;}
    .box_group_content{padding-top:180px;}
    #fist_header_group, #second_header_group{font-size:22px;}
    #second_header_group span, #fist_header_group span{font-size:22px;}
    #content{background-size:100% 457px;}
    #main_group,#content_guide,#content_research,#content_design{height:457px;}
    #research,#guide,#design, #banner{margin:auto;background-size:100% 457px;}
    #main_header{height:457px;}
    #middle_header_content{padding-top:160px;}
    .header_title_research,.content_title_research,.footer_title_research{font-size:35px;}
    .box_faqs{padding-top:85px;font-size:25px;}
    .box_faqs p span{font-size:25px;}
    .box_list_faqs{font-size:13px;  }
    #note_name_faqs{font-size:12px;}
    .design_header{font-size:28px;font-size:22px;padding-top:25px;}
    #box_choose_course .container{padding:0;margin:0;width: auto;}
    #box_content_course{margin:0px;float:none;padding:0;}
    .box_grid_course {  float: left;  margin: auto;  text-align: center;  width: 33%;  }
    .padding_right_course{padding:0;margin:0;padding-right:3%;}
    .padding_left_course{padding-left:3%;}
    #header_sub_course{padding-top:20px;}
    .padding_middle_course{padding:0px 2%;}
    #box_list_course{padding-bottom:3%;}
    #box_choose_course .container,.border_content{width: 100% !important;max-width: 100% !important;}
    .bg_content_footer{background-size:100% 86px;}
    .bg_content_footer,.bg_content_footer .container{width:100% !important;}
    .contact_phone{right:30px;font-size:20px;}
    .content_footer p{font-size:15px !important;}
    .box_present{left:43.5%;}
}


@media (min-width: 992px) and (max-width: 1199px) {
    #secret_word{font-size:18px;}
    .box_group_content{width:55%;}
    #content{background-size:100% 553px;}
    #main_group,#content_guide,#content_research,#content_design{height:553px;}
    #research,#guide,#design, #banner{margin:auto; background-size:100% 553px; }
    .bg_content_footer{background-size:100% 104px;}
    .bg_content_footer,.bg_content_footer .container{width:100% !important;}
    .contact_phone{right:30px;}
    #main_header{height:553px;}
    #middle_header_content{padding-top:190px;}
    .header_title_research,.content_title_research,.footer_title_research{font-size:40px;}
    .box_faqs,.box_faqs p span{font-size:25px;}
    .box_list_faqs{font-size:14px;}
    .box_summary_course{padding:0px 10px;}
    #box_choose_course .container{padding:0;margin:0;width: auto;}
    #box_content_course{margin:0px;float:none;padding:0;}
    .box_grid_course {  float: left;  margin: auto;  text-align: center;  width: 33%;  }
    .padding_right_course{padding:0;margin:0;padding-right:3%;}
    .padding_left_course{padding-left:3%;}
    #header_sub_course{padding-top:20px;}
    .padding_middle_course{padding:0px 2%;}
    #box_list_course{padding-bottom:3%;}
    #box_choose_course .container,.border_content{width: 100% !important;max-width: 100% !important;}
    .content_footer p{font-size:15px !important;}
}

@media (min-width: 481px) and (max-width: 767px) {
    #secret_word{font-size:16px;}
    .box_group_content{width:56%;}
    #fist_header_group, #second_header_group{font-size:16px;}
    #second_header_group span, #fist_header_group span{font-size:16px;}
    #content{background-size:100% 354px;}
    #main_group,#content_guide,#content_research,#content_design{height:354px;}
    #research,#guide,#design, #banner{background-size:100% 354px;margin:auto;}
    #main_header{height:354px;}
    .box_group_content{padding-top:60px;}
    #middle_header_content{padding-top:120px;}
    #list_group_name{font-size:16px;padding-top:25px;}
    #list_group_name p{padding-left:30px !important; }
    .header_title_research{padding-top:95px;}
    .header_title_research,.content_title_research,.footer_title_research{font-size:28px;}
    .box_faqs,.box_faqs p span{font-size:18px;}
    .box_faqs{padding-top:50px;width:58%;}
    .box_list_faqs{font-size:12px;padding-top:0px;width:58%;}
    #note_name_faqs{font-size:12px;left:210px;}
    .design_header{font-size:18px;padding-top:15px;}

    #box_choose_course .container{padding:0;margin:0;width: auto;}
    #box_content_course{margin:0px;float:none;padding:0;}
    .box_grid_course {  float: left; text-align: center;  width: 91%;  margin:0 4%;margin-bottom:5%;}
    .padding_right_course{padding:0;}
    .padding_left_course{padding:0;}
    #header_sub_course{padding-top:20px;}
    .padding_middle_course{padding:0;}
    #box_list_course{padding-bottom:3%;}
    #box_choose_course .container,.border_content{width: 100% !important;max-width: 100% !important;}
    .bg_content_footer{background-size:100% 86px;}
    .bg_content_footer,.bg_content_footer .container{width:100% !important;}
    .contact_phone{right:20px;font-size:12px;}
    .content_footer p{font-size:12px !important;}
    .content_footer{left:150px;}
    .box_present{left:41.5%;}

}


@media screen and (max-width: 767px) {


}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

}

@media (max-width: 480px){
    #secret_word{font-size:13px;}
    #content{background-size:100% 221px;}
    #main_group{height:221px;overflow: hidden;}
    #research,#guide,#design, #banner{background-size:100% 221px;margin:auto;}
    #main_header,#content_guide,#content_research,#content_design{height:221px;}
    #middle_header_content{padding-top:65px;}
    .box_group_content{padding-top:10px;width:62%;}
    #fist_header_group, #second_header_group{font-size:10.8px;}
    #second_header_group span, #fist_header_group span{font-size:10.8px;}
    #list_group_name{font-size:10.8px;padding-top:10px;}
    #list_article_name{font-size:10.8px;}
    #list_article_name p{padding-left:35px !important;}
    .design_header{font-size:12px;padding-top:15px;}
    .box_faqs,.box_faqs p span{font-size:11px;}
    .box_faqs p{margin:0;padding:0;}
    .box_faqs{padding-top:5px;width:58%;}
    .box_list_faqs{font-size:11px;padding-top:0px;width:58%;}
    #note_name_faqs{font-size:11px;left:110px;bottom:0;}
    .header_title_research{padding-top:20px;font-size:20px;}
    #content_guide{overflow: hidden;}
    .content_title_research,.footer_title_research{font-size:20px;}

    #box_choose_course .container{padding:0;margin:0;width: auto;}
    #box_content_course{margin:0px;float:none;padding:0;}
    .box_grid_course {  float: left; text-align: center;  width: 91%;  margin:0 4%;margin-bottom:5%;}
    .padding_right_course{padding:0;}
    .padding_left_course{padding:0;}
    #header_sub_course{padding-top:20px;}
    .padding_middle_course{padding:0;}
    #box_list_course{padding-bottom:3%;}
    #box_choose_course .container,.border_content{width: 100% !important;max-width: 100% !important;}
    #header_sub_course{font-size:25px;}
    .bg_content_footer{background-size:100% 86px;}
    .bg_content_footer,.bg_content_footer .container{width:100% !important;}
    .contact_phone{right:-10px;font-size:11px;padding:8px 15px;}
    .content_footer p{font-size:11px !important;}
    .content_footer{left:70px;}
    .box_present{left:35.5%;}
    .box_small_form{max-width: 280px !important;}
    #frm_register_record input, #frm_register_record select{max-width: 98% !important;}
}