.number-line .content{
	padding: 0 15px;
	position: relative;
    border-top: 2px solid #ddd;
    margin-top: 15px;
}
.number-line .content:before,
.number-line .content:after{
	content: "<";
	position: absolute;
    line-height: 15px;
    left: 0;
    font-weight: 400;
    color: #ddd;
    font-size: 26px;
    top: -11px;
}
.number-line .content:after{
	content: ">";
	left: auto;
	right: 0;
}
.number-line .line{
    float: left;
    width: 30px;
    font-size: 18px;
    font-weight: 400;
    margin: 15px;
    position: relative;
    text-align: center;
    line-height: 35px;
}
.number-line .line.active{
    box-shadow: 0px 0px 0px 2px #1fb2e4;
    border-radius: 2px;
}
.number-line .line.active.first::after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 210%;
    height: 30px;
    background: url(../img/arrow.png) no-repeat;
    background-size: 100%;
    top: -50px;
    left: 50%;
}
.number-line .line.active.first .sub{
    position: absolute;
    top: -75px;
    z-index: 2;
    width: 200%;
    text-align: center;
    left: 40%;
    color: #1fb2e4;
    font-size: 16px;
    font-weight: 500;
}
.number-line .line::before{
	content: "";
    width: 0px;
    height: 15px;
    border-left: 2px solid #ddd;
    position: absolute;
    left: 0;
    margin-left: 50%;
    top: -24px;
}